:root{
    --main-color: #eea54c;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    color: aliceblue;
}

.relative{
    position: relative;
}

body{
    background-color: var(--black);
}

.header{
    height: 4rem;
    width: 100%;
    border-bottom: var(--border);
    box-sizing: border-box;
}

.title{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 1rem;
}

.one{
    font-size: 33px;
    color: var(--main-color);
}


.main{
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-image: url(design/bgi2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #eea54c solid .1rem;
}

h1{
    padding-top: 1rem;
    text-align: center;
}

.text-white{
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1, .box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}


.box1 h3{
    color: rgb(255, 220, 156);
    font-size: 25px;
}

p{
    font-size: 35px;
    text-transform: none;
    text-align: center;
}

.box2 a{
    width: 300px;
    background-color: #fff;
    color: #13131a;
    border-radius: 9999px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box2{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 20px;
}

.box1, .box2{
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

.box2 a:hover{
    background-color: var(--main-color);
}


.teaser{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background-color: #3333;

}

.teaser h3{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

.teaser .this{
    font-size: 20px;
    color: #eea54c;
    text-align: center;
    padding-top: .1rem;
}

.teaser .text{
    font-size: 23px;
    text-align: center;
    padding-top: .1rem;
}

video{
    width: 100%;
    padding: 1rem;
}

.come{
    padding-bottom: 2rem;
}

.come h1{
    color: #eea54c;
    font-size: 30px;
}

.come p{
    font-size: 20px ;
}

.last{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 2.5rem 0;
}

.box-one{
    width: 250px;
    height: 250px;
    float: left;
    padding: 1rem;
    margin-right: 10rem;
}


.box-two{
    width: 150px;
    height: 200px;
    float: left;
    padding: 1rem;
    float: left;
}

.box-one img{
    border-radius: 50%;
    width: 2rem;
    position: relative;
    top: .5rem;
    left: 1rem;
}


.box-one span{
    color: #eea54c;
    font-size: 15px;
    padding-left: 1rem;
}

.box-one .span {
    font-size: 15px;
    text-align: left;
    padding-left: 1rem;
}

.box-two a{
    width: 0;
    height: 0;
    text-align: center;
    padding-left: 1rem;
    position: relative;
    top: 3.5rem;

}

.box-two a:hover{
    color: #eea54c;
}





@media (min-width: 640px) {
    .main{
        width: 640px;
    }
    .box1,.box2{
        width:640px
    }

    .event{
        width: 640px
    }

    .box2 a{
        width: 300px
    }
    a{
        height: 80px;
    }

    .teaser h3{
        font-size: 35px;
    }

    .teaser .this{
        font-size: 20px;
    }

    .teaser .text{
        font-size: 23px;
    }
    
    video{
        width: 640px;
    }
    
    .last{
        width: 640px;
    }
}



@media (min-width: 320px) and (max-width:639px){
    .main{
        width: 300px;
        padding-top: 2rem;
    }
    .box1,.box2{
        width:300px
    }

    .event{
        width: 300px
    }

    .one{
        font-size: 20px
    }

    .text-white{
        font-size: 36px
    }

    .box1 h3{
        font-size: 12px;
    }

    p{
        font-size: 14px;
    }

    .box2 a{
        width: 200px
    }
    
    a{
        height: 50px
    }

    .teaser h3{
        font-size: 16px;
    }

    .teaser .this{
        font-size: 10px;
    }

    .teaser .text{
        font-size: 10px;
    }
    
    video{
        width: 300px;
        padding: .5rem;
    }
    .come h1{
        color: #eea54c;
        font-size: 17px;
    }
    
    .come p{
        font-size: 10px ;
    }
}