:root{
    --main-color: #eea54c;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
    --border-oppacity: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    color: aliceblue;
}

body{
    background-color: var(--black);
}

.header{
    height: 4rem;
    width: 100%;
    border-bottom: var(--border);
    box-sizing: border-box;
}

.title{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1rem 2rem;
}

.one{
    font-size: 30px;
    color: var(--main-color);
}

.relative{
    position: relative;
}

.pic{
    height: 200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-sizing: border-box;
    margin-top: 2rem;
    background-image: url(design/bgi2.jpg);
    background-position: center;

}

.animated-text {
    font-size: 40px;
    color: #eea54c;
    position: relative;
  }

  .animated-text::before,
  .animated-text::after {
    content: "Register Now";
    position: absolute;
    top: 5rem;
    left: 13rem;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .animated-text::before {
    color: #161616;
    animation-name: scale;
  }

  .animated-text::after {
    color: #ad5f00;
    animation-name: scale;
    animation-delay: 2s;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


form{
    font-size: .9rem;
    line-height: 1,25;
}

h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input, button{
    background: transparent;
    border: 0.1px solid white;
    width: 100%;
    height: 40px;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
}

form div{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

label {
    font-size: 20px;
}

textarea{
    width: 100%;
    height: 80px;
    background: transparent;
    border: 0.1rem solid white;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    
}

button{
    background-color:white;
    color: black;
    margin-top: 1rem;
    margin-bottom: .5rem;
    cursor: pointer;
}

button:hover{
    background-color:  rgb(199, 113, 1);
}

#reset{
    background-color: white;
    color: black;
    margin-top: .5rem;
    margin-bottom: 6rem;
    cursor: pointer;

}

#reset:hover{
    background-color:  rgb(199, 113, 1);
}

form {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 640px) {
    form {
        width:640px
    }

    .pic {
        width:640px
    }

    .one{
        font-size: 30px;
    }
}

@media (min-width: 320px) and (max-width:639px){
    form {
        width:290px
    }

    .pic {
        width:290px
    }

    .animated-text{
        font-size: 40px;
        position: relative;
        right: 8rem;
        bottom: 2rem;
        text-align: center;
    }

    .one{
        font-size: 20px;
    }

}